**/log
/.idea
/.vscode
**/data
**/checkpoints
/loss_images
/models
**/__pycache__
*.gz
*.exe
/component/eigen_3_4_0/*
/dist
/tcnn.egg-info
/build
/debug
*checkpoint*/
**/models_export/**
**/data_export/**
**/logs/**
**/runs/**